<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Mustached Robot{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->

    {{ assets_css(['reset.less', 'variables.less', 'mixins.less', 'scaffolding.less', 'grid.less', 'layouts.less', 'type.less', 'code.less', 'forms.less', 'tables.less', 'sprites.less', 'dropdowns.less', 'wells.less', 'component-animations.less', 'close.less', 'buttons.less', 'button-groups.less', 'alerts.less', 'navs.less', 'navbar.less', 'breadcrumbs.less', 'pagination.less', 'pager.less',  'utilities.less', 'mustached.less', 'responsive.less'])}}
    <link href="http://mustached.local/assets/css/autoSuggest.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body id="{{ section }}">

    {% include "headers/header_"~section~".html.twig" %}

    <div class="container-fluid">

        {% block msg %}
          {% if msg %}
          <div class="row-fluid">
            <div class="span12">
              <div id="message" class="alert alert-{{ msg.type }} clearfix">
                <div class="icoMessage pull-left"></div>
                <div class="messages span11">{{ msg.content | raw }}</div>
              </div>
            </div>
          </div>
          {% endif %}
        {% endblock %}

        {% block content %}

        {% endblock %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->    
    {{ assets_js(['jquery-1.7.2.min.js', 'main.js', 'jquery.timeago.js', 'jquery.autocomplete-min.js', 'highcharts.js', 'common.coffee', 'bootstrap.js'])}}

  </body>
</html>
