
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!-- <a class="brand" href="#">Mustached Robot | Admin</a> -->
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active dashboard"><a href="{{ site_url('admin/logger') }}">
                <div class="navIcon"></div>
                <span class="navText">{{ lang('admin.menu.home') }}</span>
              </a></li>
              <li><a href="#" class="statistics">
                <div class="navIcon"></div>
                <span class="navText">{{ lang('admin.menu.statistics') }}</span>
              </a></li>
              <li><a href="#" class="coworkers">
                <div class="navIcon"></div>
                <span class="navText">{{ lang('admin.menu.coworkers') }}</span>
              </a></li>
              <li><a href="#" class="settings">
                <div class="navIcon"></div>
                <span class="navText">{{ lang('admin.menu.settings') }}</span>
              </a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>