{% extends 'base.html.twig' %}

{% block title %}{{ lang('coworkers') }}{% endblock %}

{% block content %}


	<ul class="coworkersLog">

	{% for user in users %}
			<li class="log">
				<img src="{{ get_user_avatar(user.email, 50) }}" class="rounded"/> {{ user.firstname }} {{ user.lastname }} ({{ user.email }}) - <a href="{{ site_url('user/account/edit') }}/{{ user.id }}">{{ lang('edit') }}</a> - {% if user.is_admin %} Admin {% else %} <a href="{{ site_url('user/admin/upgrade') }}/{{ user.id }}">Upgrade</a> {% endif %}
			</li>		 
	{% endfor %}
	</ul>
{% endblock %}