{% extends 'base.html.twig' %}

{% block content %}

	<h2>{{ lang('user.delete.title') }}</h2>

	<p>{{ lang('user.delete.warning') }}</p>

	{{ form_open('user/account/delete') | raw }}
	{{ form_submit({'name': 'submit', 'value': lang('user.delete.confirm'), 'class': 'btn btn-large btn-primary'}) | raw }}

	{{ form_close() | raw }}
{% endblock %}