{% extends 'base.html.twig' %}

{% block content %}

	<h1>{{ lang('user.change_password.title') }}</h1>
	
	{{ form_open(action) | raw }}

	{% if not adminEditingAnotherUser %}
		{{ lang('user.fields.currentPassword', 'currentPassword') | raw }}
		{{ form_password({"name": "currentPassword" }, '') | raw }}
	{% endif %}

	{{ lang('user.fields.newPassword', 'newPassword') | raw }}
	{{ form_password({"name": "newPassword" }, '') | raw }}

	{{ form_submit({'name': 'submit', 'value': lang('user.change_password.submitLabel'), 'class': 'btn btn-primary'}) | raw }}

	{{ form_close() | raw }}

{% endblock %}