{% extends 'base.html.twig' %}

{% block content %}
	
	<h2>{{ lang('user.edit.title') }}</h2>

	{{ form_open('user/account/edit') | raw }}

	{{ lang('user.fields.email', 'email') | raw }}
	{{ form_input({"name": "email" }, email) | raw }}

	{{ lang('user.fields.firstname', 'firstname') | raw }}
	{{ form_input({"name": "firstname" }, firstname) | raw }}

	{{ lang('user.fields.lastname', 'lastname') | raw }}
	{{ form_input({"name": "lastname" }, lastname) | raw }}

	{{ lang('user.fields.twitter', 'twitter') | raw }}
	{{ form_input({"name": "twitter" }, twitter) | raw }}

	{{ lang('user.fields.companyName', 'companies') | raw }}
	{{ form_input({"name": "company", "id": "companies" }, company) | raw }}

	{{ form_submit({'name': 'submit', 'value': lang('user.edit.submit'), 'class': 'btn btn-large btn-primary'}) | raw }}

{% endblock content %}