{% extends 'base.html.twig' %}

{% block content %}

	<h1>Connexion à votre compte</h1>
	
	{{ form_open('user/auth/login') | raw }}

	{{ lang('user.fields.email', 'email') | raw }}
	{{ form_input({"name": "email" }, '') | raw }}

	{{ lang('user.fields.password', 'password') | raw }}
	{{ form_password({"name": "password" }, '') | raw }}

	{{ form_submit({'name': 'submit', 'value': lang('user.login.submitLabel'), 'class': 'btn btn-primary'}) | raw }}

	{{ form_close() | raw }}

{% endblock %}