{% extends "layouts/app.twig" %}

{% block title %}{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span8">
		<h1>TV Mode Settings</h1>
		<div class="block">
			<div class="dataHolder ">
				<p>Maybe we can display some specific settings here ?</p>
				<p><a class="btn btn-large btn-primary" id="goScreenMode">Launch TV Mode</a></p>
			</div>
		</div>
	</div>
</div>


<!-- FullScreen Contents Begins Here... -->

<div id="screenContent" class="row-fluid">
	<div id="screen1" class="screen span12">
		<div class="row-fluid">
			<div class="span12 block">
			Hey baby !
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12 block">
			Hey baby !
			</div>
		</div>
	</div>
	<div id="screen2" class="screen span12">
		<h2>{{ lang('mustached.screen.calendar.title') }}</h2>
		<ul class="calendar">
		{% for event in events %}
			<li class="event">
				<h3>{{ event.title}}</h3>
				<div class="detail">
					{% if event.when[0].start != event.when[0].end %}
						{{ lang('mustached.general.the') }} {{ event.when[0].start | date("d F", "Europe/Paris") }} {{ lang('mustached.general.from') }} {{ event.when[0].start | date("H", "Europe/Paris") }}{{ lang('mustached.general.hourS') }} {{ lang('mustached.general.at') }} {{ event.when[0].end | date("H", "Europe/Paris") }}{{ lang('mustached.general.hourS') }}
					{% else %}
						{{ lang('mustached.checkin.stats.from') }} {{ event.when[0].start | date("d M Y", "Europe/Paris") }} {{ lang('mustached.checkin.stats.to') }} {{ event.when[0].end | date("d M Y", "Europe/Paris") }}
					{% endif %}
				</div>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>

{% endblock %}
