    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!-- <a class="brand" href="#">Mustached Robot</a> -->
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="{{ base_url('')}}">Check-in</a></li>
              {% if current_user %}
              <li><a href="{{ url('user/account/edit') }}">Modifier mon compte</a></li>
              {% else %}
              <li><a href="{{ url('user/account/add') }}">Créer mon compte</a></li>
              <li><a href="{{ url('user/auth/login') }}">Connexion</a></li>
              {% endif %}
              
            </ul>
          </div><!--/.nav-collapse -->
          <div class="nav-collapse pull-right">
            {% if current_user %}
              {{ current_user.firstname }}
              <br>
              <a href="">{{ lang('user.editAccount') }}</a>
              <a href="{{ url('user/auth/logout')}}">Déconnexion</a>
              <br>
              <a href="{{ url('user/account/edit_password')}}">Changer mdp</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
