{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}


{% block content %}
	<div class="row-fluid">
		<div class="span8">
			<h1>Passage</h1>
			<div class="block">
				<div class="linkHolder">
					<a href="#">Ajouter un passage</a>
				</div>
				<div class="dataHolder coworkersLog">
					{% for date, log in logs %}
						<div class="date dashed">
							<time datetime="{{ date }}">{{ date }}</time>
						</div>
						<ul>
						{% for single_log in log %}
							<li class="log">
								<img src="{{ get_user_avatar(single_log.email, 50) }}" class="avatar avatar-mini"/>
								<div class="logInfo">
									<a href="#">{{ single_log.user.name }}</a> {{ lang('admin.userCameFor') }} {{ single_log.reason }} <abbr class="timeago pull-right" title="{{ single_log.start }}">{{ single_log.start|date('d/m/Y') }}</abbr>
								</div>
							</li>		
						{% endfor %}
						</ul>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="span4">
			<h1>Occupation</h1>
			<div class="block">
				<div class="dataHolder">
					Beau graphique
				</div>
			</div>
		</div>
	</div>
{% endblock %}