{% extends 'base.html.twig' %}

{% block content %}

	<h1>Connexion</h1>
		
	{{ form_open('logger/front') | raw }}

	{{ lang('user.fields.email', 'email') | raw }}
	{{ form_input({"name": "email" }, '') | raw }}

	{{ form_label(form_checkbox({"name": "public", "checked": "true", "value": 1 }, '')~' '~lang('user.login.public')) | raw }}

	{{ form_submit({'name': 'submit', 'value': lang('user.login.submitLabel'), 'class': 'btn btn-primary'}) | raw }}

	{{ form_close() | raw }}

{% endblock %}